@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Inter', sans-serif;
}

.scroll {
  display: none !important;
}

.scroll_menu {
  justify-content: space-between !important;
}

.scroll_image {
  padding: 0 !important;
  width: 15% !important;
}
